.container-fluid{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color:whitesmoke;
}
.bi{
    font-size: 45px !important;
}
.bi:hover{
    /* font-size: 50px !important; */
    color: blue;
        /* transition: all 0.3s ease-in-out; */
}