*{
    font-family: "Coiny", serif;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
.container{
    box-shadow: 10px 10px 25px #656565;
    background-color: white;
}

.card{
    border: none;
}

.heading{
    font-size: 25px;
    font-weight: 500;
}

.bi {
    font-size: 35px !important;
}
.bi:hover {
    color: blue;
}