.container-fluid{
    background-color: rgb(226, 226, 226);
}
.card {
    margin-top: 35px;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(104, 104, 200);
    color: rgb(0, 0, 0);
    border: 2px solid #adadad;
    height: 400px; 
    display: flex; 
    flex-direction: column;
}

.card-title{
    font-size: 25px;
    font-weight: 400;
}

.card-text{
    font-size: 20px;
    font-weight: 300;
}

.card-body{
    flex-direction: column;
    display: flex;
    flex: 1; 
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb {
    background: rgb(183, 180, 180);
    border-radius: 7px;
}

.go-btn{
    background-color: rgb(158, 158, 158) ;
    border: none;
    height: 42px;
    font-size: 18px;
    font-weight: 500;
    margin-top: auto; 
}